#menu
	{
	float:left;
	position:relative;
	height: -moz-calc(100% - 64px);
	height: -webkit-calc(100% - 64px);
	height: calc(100% - 64px);
	margin:0px;
	padding-right:0.75em;
	}

#content
	{
	position:relative;
	height: -moz-calc(100% - 64px);
	height: -webkit-calc(100% - 64px);
	height: calc(100% - 64px);
	margin:0px;
	overflow:auto;
	padding-left:0.75em
	}

table{width:75%;margin-left:1.75em;border-collapse: collapse;border-radius:4px;}
th{border-bottom: 1px solid;}
td{padding-right:0.5em;border-bottom: 1px solid;}
td.number{text-align:right;}
th.transpose{text-align:left;}

ul {list-style: none;padding:0; margin:0;}

li{padding-left: 1em; text-indent: -.7em;}

li:before {content: "• ";}

@media print
	{
	#menu{display:none;}
	}